@model Cuisinary.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>Holla!</div>
<a asp-action="create">Add Restaurant</a>
</body>
</html>
